.container{
    height: 27rem;
    display: block;
}.container:hover{
    background-color: rgb(26, 26, 26);
    border: 5px solid rgb(26, 26, 26);
}
img{
    object-fit: cover;
    object-position: center top;
    height: 70%;
    width: 100%;
}.date{
    font-size: .7rem;
    color: gray;
}h2{
    font-size: 1.7rem;
}p{
    color: gray;
}