.articles{
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
}.articles>div{
    width: 48%;
}hr{
    margin: 1rem .5rem;
    border: 1px solid rgb(60, 60, 60);
}.others{
    padding: 2.5rem;
    background-color: white;
}.others>div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}.others>h2{
    text-transform: uppercase;
    color: gray;
    padding: 2rem 1rem;
    font-size: 1.1rem;
}
#se{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 4rem;
    width: 100%;

}#se>img{
    width: 90px;
}


@media(max-width:800px){
    .others>div{
        grid-template-columns: 1fr 1fr 1fr;
    }
}@media(max-width:650px){
    .others>div{
        grid-template-columns: 1fr 1fr;
    }.articles{
        flex-direction: column;
    }.articles>div{
        width: 100%;
    }
}@media(max-width:450px){
    .articles, .others{
        padding: 1rem;
    }
}@media(max-width:360px){
    .others>div{
        grid-template-columns: 1fr;
    }
}