.articles{
    display: flex;
    justify-content: space-between;
    margin: 2.5rem;
}.articles>div{
    width: 48%;
}hr{
    margin: .3rem 0;
    border: 1px solid rgb(60, 60, 60);
}.others{
    margin: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem
}#se{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding-top: 4rem;
    width: 100%;

}#se>img{
    width: 90px;
}